<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Landing Page</ion-nav-title>
    </ion-nav-bar>
    <ion-content class=" calm-bg" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1" style="width: 80%; margin: 10%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px;"></div>
        </div>
        <!--Form Contents-->
    </ion-content>
</ion-view>